/* main */
.content {
  gap: 15px;
  display: grid;
  grid-template-columns: 1fr;
}

.main-post {
  flex: 2;
}

.aside-post {
  flex: 1;
  align-self: flex-start;
}

.box-text {
  border: solid 1px #999;
  padding: 10px;
  border-radius: 5px;
  margin: 16px 0;
  font-style: italic;
}

.pagination {
  padding: 40px 0;
}

/* aside */
.about {
  padding: 10px 15px 20px;
}

.item-aside + .item-aside {
  margin-top: 35px;
}

.avatar-caption {
  margin: 0;
}

/* responsive */
@media (min-width: 576px) {
  .content {
    grid-template-columns: 1fr minmax(auto, 230px);
  }
}