.round-btn {
  border: 1px solid #11afe4;
  color: #11afe4;
  padding: 5px 10px;
  border-radius: 17px;
  background-color: transparent;
  cursor: pointer;
}

.round-light-btn {
  border: 1px solid #444;
  color: #444;
  padding: 5px 10px;
  border-radius: 17px;
  background-color: transparent;
  cursor: pointer;
}

.square-btn {
  display: inline-block;
  width: fit-content;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #11afe4;
  cursor: pointer;
  color: #fff;
  font-size: 1.1em;
}
